<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<header role="banner">
    <a href="/">
            <img class="logo" src="/images/Packback_Logo_Horizontal_Color_Reversed-17.svg" type="image/svg+xml" alt="Packback logo" role="img" />
    </a>
</header>
<body>
    <main class="body-border" role="main">
        {{{body}}}
    </main>
</body>
<footer role="contentinfo">
    <p class="text-center font-weight-bold">
        Packback, INC. 601 South LaSalle Street Suite 650, Chicago Illinois, 60605
    </p>
</footer>
</html>
